node_modules

yt-dlp/yt-dlp.exe
yt-dlp/yt-dlp_linux
yt-dlp/yt-dlp_macos
yt-dlp/yt-dlp_linux_armv7l
yt-dlp/yt-dlp_linux_aarch64

yt-dlp.exe
yt-dlp_linux
yt-dlp_macos
yt-dlp_linux_armv7l
yt-dlp_linux_aarch64

ytdlp/downloads
